@import '../../../styles/variables/media';

.card {
  width:58vh!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.segment {
  @media screen and (min-width: $desktop_min_width) {
    font-size: 3.4vh!important;
  }
  @media screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width){
    font-size: 24px!important;
  }
  text-align: justify;
  line-height: 1.42em;
}
