@import 'base';
@import "variables/media";
@import '~normalize.css/normalize';
@import '../../semantic/dist/semantic.min.css';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15pt;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header-background {
  background-color: $header-background-color!important;
}

.desktop-header {
  height: 7vh!important;
  margin-bottom: 0!important;
}

div.desktop-search {
  position: absolute!important;
  right: 5px!important;
  margin-top: 1.5vh!important;
}

div.mobile-search {
  position: absolute!important;
  right: 5px!important;
  margin-top: 4px!important;
}

@media screen and (min-width: $tablet_min_width) {
  p {
    font-size: 20px;
  }
}

.background {
  background: linear-gradient(270deg, #C8C8C8, #EAEAEA);
  background-size: 400% 400%;
}
