.ui.menu .ui.dropdown .menu>.item {
  color: white!important;
}

.ui.menu .ui.dropdown .menu>.item:hover {
  color: white!important;
  background-color: rgba(255,255,255,.08)!important;
}

.ui.menu .ui.dropdown .menu>.active.item {
  background: rgba(255,255,255,.15)!important;
  color: #fff!important;
}

.ui.menu .active.item {
  background: rgba(255,255,255,.15)!important;
  color: #fff!important;
  font-weight: bold;
}

.ui.inverted.vertical {
  text-align: left!important;
}
