$mobile_min_width:0;
$mobile_max_width:775px;
$tablet_min_width:$mobile_max_width + 1;
$tablet_max_width:1224px;
$desktop_min_width:$tablet_max_width + 1;
:export {
  mobileMinWidth: $mobile_min_width;
  mobileMaxWidth: $mobile_max_width;
  tabletMinWidth: $tablet_min_width;
  tabletMaxWidth: $tablet_max_width;
  desktopMinWidth: $desktop_min_width;
}
